{% extends 'base.html.twig' %}

{% block footer %}{% endblock %}

{% block body_id 'error' %}

{% block body %}
    <div class="container py-4">
        <div class="row align-items-center">
            <div class="col-sm-6 text-center">
                <h1 class="font-weight-bold display-3">{{ status_code }}</h1>
            </div>
            <div class="col-sm-6 text-center text-sm-left">
                <h1>Page not found</h1>
                <p class="lead pb-4">
                    We couldn't find the page you requested.
                </p>
                <p>
                    <a class="btn btn-primary" href="{{ path('homepage') }}" role="button">Return to the homepage</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}