{{ form_start(form) }}
    {{ form_row(form.message) }}
    <button type="submit" class="btn btn-success btn-sm" formnovalidate><i class="fa fa-plus pr-2" aria-hidden="true"></i>Add Comment</button>
{{ form_end(form) }}