@import 'customVariables';
@import '~bootstrap/scss/bootstrap';

/* Fonts
   ------------------------------------------------------------------------- */
body {
  font-family: 'Lato', 'Arial', 'sans-serif';
}
h1, h2, h3, h4 {
  font-family: 'Roboto', 'sans-serif';
}
.navbar-brand {
  font-family: 'Shadows Into Light Two', cursive, 'sans-serif';
}

/* Basic styles
   ------------------------------------------------------------------------- */
html, body {
  height: 100%;
}
button:focus {
  outline: none;
}

/* Button styles
   ------------------------------------------------------------------------- */


/* Header
   ------------------------------------------------------------------------- */
#homepage header {
  position: absolute;
  width: 100%;
}
#homepage header .navbar {
  background-color: transparent !important;
}
#homepage header .navbar .nav-link:hover {
  color: $st-red;
}

/* Footer
   ------------------------------------------------------------------------- */
.social-link .fa {
  font-size: 1.4rem;
}

/* Home page
   ------------------------------------------------------------------------- */
#homepage .jumbotron {
  background: url("/images/snowtricks-bg.jpg") center no-repeat;
  height: 100%;
  background-size: cover;
}
#homepage .jumbotron h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

/* Trick view
   ------------------------------------------------------------------------- */
#trick_show {
  background-color: $st-gray;
}

/* Trick card
   ------------------------------------------------------------------------- */
.card a:hover {
  text-decoration: none;
}
.card-img-top {
  height: 250px;
}

/* Responsive
   ------------------------------------------------------------------------- */
@include media-breakpoint-up(sm) {
  #homepage .btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
  #homepage .jumbotron h1 {
    font-size: 2.8rem;
  }
  .card-img-top {
    height: 300px;
  }
}
@include media-breakpoint-up(md) {
  #homepage .jumbotron h1 {
    font-size: 3.8rem;
  }
  #trick_index .jumbotron {
    background: url("/images/snowtricks.png") no-repeat;
    background-position: 47vw;
    background-size: 700px 600px;
  }
  #trick_index .jumbotron p.lead {
    width: 75%;
  }
  .social-link .fa {
    font-size: 1.7rem;
  }
}
@include media-breakpoint-up(lg) {
  #homepage .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
  #homepage .jumbotron h1 {
    font-size: 4.8rem;
  }
  #trick_index .jumbotron p.lead {
    width: 65%;
  }
  .social-link .fa {
    font-size: 2rem;
  }
}

