@import 'customVariables';
@import '~bootstrap/scss/bootstrap';

/* Fonts
   ------------------------------------------------------------------------- */
body {
  font-family: 'Lato', 'Arial', 'sans-serif';
}
h1, h2, h3, h4 {
  font-family: 'Roboto', 'sans-serif';
}
.navbar-brand {
  font-family: 'Shadows Into Light Two', cursive, 'sans-serif';
}

/* Basic styles
   ------------------------------------------------------------------------- */
button:focus {
  outline: none;
}

/* Page elements
   ------------------------------------------------------------------------- */
html, body {
  height: 100%;
}
footer .social-link .fa {
  font-size: 1.4rem;
}

/* Common page elements
   ------------------------------------------------------------------------- */
.card a:hover {
  text-decoration: none;
}
.card-img-top {
  height: 250px;
}

/* Page: 'Home'
   ------------------------------------------------------------------------- */
body#homepage header {
  position: absolute;
  width: 100%;
}
body#homepage header .navbar {
  background-color: transparent !important;
}
body#homepage header .navbar .nav-link:hover {
  color: $st-red;
}
body#homepage .messages {
  position: absolute;
  top: 56px;
  width: 100%;
}
body#homepage .jumbotron {
  background: url("/images/snowtricks-bg.jpg") center no-repeat;
  height: 100%;
  background-size: cover;
}
body#homepage .jumbotron h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

/* Page: 'Community trick show'
   ------------------------------------------------------------------------- */
body#trick_show,
body#admin_trick_index, body#admin_trick_new, body#admin_trick_edit {
  background-color: $st-gray;
}

/* Page: 'Login' 'Register'
   ------------------------------------------------------------------------- */
body#login, body#register {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: $st-gray;
}
body#login .form-login, body#register .form-register {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* Page: 'User profile'
   ------------------------------------------------------------------------- */
body#admin_profile_show .avatar img {
  width: 80px;
  height: 80px;
}

/* Responsive
   ------------------------------------------------------------------------- */
@include media-breakpoint-up(sm) {
  body#homepage .btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
  body#homepage .jumbotron h1 {
    font-size: 2.8rem;
  }
  .card-img-top {
    height: 300px;
  }
}
@include media-breakpoint-up(md) {
  body#homepage .jumbotron h1 {
    font-size: 3.8rem;
  }
  body#trick_index .jumbotron {
    background: url("/images/snowtricks.png") no-repeat;
    background-position: 47vw;
    background-size: 700px 600px;
  }
  body#trick_index .jumbotron p.lead {
    width: 75%;
  }
  body#login, body#register {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  footer .social-link .fa {
    font-size: 1.7rem;
  }
}
@include media-breakpoint-up(lg) {
  body#homepage .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
  body#homepage .jumbotron h1 {
    font-size: 4.8rem;
  }
  body#trick_index .jumbotron p.lead {
    width: 65%;
  }
  footer .social-link .fa {
    font-size: 2rem;
  }
}
