{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        {{ include('admin/user/_edit.html.twig') }}
    </div>

    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <div class="navbar-nav flex-row">
                <a class="nav-link active px-2" href="{{ path('admin_profile_show', {'username': app.user.username}) }}"><i class="fa fa-user pr-2" aria-hidden="true"></i>My Profile</a>
            </div>
        </div>
    </nav>

    {% block profile_body %}{% endblock%}
{% endblock %}
