{% extends 'admin/user/profile_layout.html.twig' %}

{% block title %}
    {{ parent() }} - My Profile
{% endblock %}

{% block body_id 'admin_profile_show' %}

{% block profile_body %}
    <div class="container pb-4">
        <div class="row">
            <div class="col-sm-6 pt-4">
                <p class="lead">My profile</p>
                <div>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
            </div>
            <div class="col-sm-6 pt-4">
                <p class="lead">My account</p>
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <td>Full name</td>
                        <td class="font-weight-bold">{{ user.fullName }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="font-weight-bold">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td class="font-weight-bold">{{ user.username }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
